.container {
    max-width: 1850px;
    width: 100%;
    margin-left: -25px;
    padding: 10px 0;
}

.linkVoltar {
    margin-left: 42px;
    border: solid;
    width: 58px;
    border-radius: 5px;
    background-color: #f0f8ff;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
}

.pokeLista {
    display: flex;
    width: 100%;
    margin: 30px;
    flex-direction: row;
}

.pokeModal {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    opacity: 0.9;
    margin: -181px 376px;
}

.pokeHabilidades {
    border: solid #000;
    text-transform: capitalize;
    background-color: #f0f8ff;
    padding: 15px;
    font-weight: bolder;
    border-radius: 15px;
    text-shadow: 5px 6px 2px #ccc;
    text-align: center;
    position: fixed;
    margin-top: 215px;
    margin-right: 815px;
}

.pokeNome {
    margin: 23px 9px;
    font-weight: bolder;
    font-size: 25px;
    width: 150px;
    height: 29px;
}

.pokelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-shadow: 5px 6px 2px #ccc;
}

.fecharModal {
    cursor: pointer;
}

.listPokemons {
    margin: 20px 6px 6px 0;
    font-size: 25px;
    width: 180px;
    height: 230px;
    text-align: center;
    background-color: #f0f8ff;
    border: solid #000;
    border-radius: 15px;
    text-transform: capitalize;
    cursor: pointer;
}

.listPokemons img {
    margin: -18px 8px 11px -4px;
    width: 150px;
}



@media screen and (max-width: 480px) {

    .listPokemons {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 1%;
    }

    .listPokemons .img{
        box-sizing: border-box;
        margin: 0 35px;
        width: 150px;
    }

    .pokelista {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .pokeHabilidades {
        display: flow-root;
    margin-right: 40%;
    margin-top: 98%;
    position: fixed;
    width: 275px;
    }

    .open {
        text-align: center;
    }

    .pokeModal {
        position: absolute;
        opacity: 0.9;
        margin-left: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .fecharModal {
        cursor: pointer;
    }

}