.pokeLista {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pokelist {
    padding: 20px 157px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-shadow: 5px 6px 2px #ccc
}

.pokeHeader {
    text-align: center;
    width: 1920px;
    padding: 20px;
    border-radius: 2px solid black;
}

.pokeModal {
    width: 585px;
    margin: 0 auto;
}

.pokeHabilidades {
    border: solid #000;
    width: 100%;
    text-transform: capitalize;
    background-color: #f0f8ff;
    padding: 10px;
    margin: 23px 9px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 15px;
    text-shadow: 5px 6px 2px #ccc;
}

.listPokemons {
    margin: 15px 31px 2px 0px;
    font-weight: bolder;
    font-size: 25px;
    width: 180px;
    height: 230px;
    text-align: center;
    background-color: aliceblue;
    border: solid #000;
    border-radius: 15px;
    text-transform: capitalize;
}

.pokeHab .pokeInfo1 {
    display: flex;
    width: 50px;
}

.pokeNome {
    margin: 23px 9px;
    font-weight: bolder;
    font-size: 25px;
    width: 150px;
    height: 29px;
}

.listPokemons img {
    margin: -18px 8px 11px -4px;
    width: 150px;
}

.pokeHome {
    padding: 10px
}

.linkVoltar {
    margin: 10px 10px;
}



@media screen and (max-width: 480px) {
    .pokelist {
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 50%;
        padding: 0 50% 0;
    }

    .listPokemons {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 2%;
    }



    .pokelista {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .pokeHabilidades {
        position: absolute;
        display: flow-root;
        margin-left: 77%;
        margin-top: 115px;
    }

    .open {
        text-align: center;
    }
}

@media screen and (max-width < 780px) {
    .home    
    {
        height: 100%;
        width: 100%;
        padding: 433px 0px;
        position: absolute;
        display: flow-root;
        margin-left: 77%;
        margin-top: 115px;
    }
}