html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-image: url(https://img.elo7.com.br/product/zoom/1C6BB91/painel-festa-1-50x1m-pokemon-lona.jpg); */
    background-color:#FF4D49;
}


* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    display: flex;
    align-items: center;
    
  }
}


