html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        background-image: url("https://cdnb.artstation.com/p/assets/images/images/048/231/137/large/rickard-widmark-pokeballs.jpg?1649523265");
text-align: center;
}


* {
    box-sizing: border-box;
}


.logo {
    width: 100%;
}



@media screen and (max-width: 480px) {
    .body {
        width: auto;
        color: white;
        display: flex;
        align-items: center;

    }

}