.home {
    display: flex;
    align-items: center
}

.containerPages{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
}

/* .home {
    background-color: red;
    display: flex;
    align-items: center;
} */