.home {
    display: flex;
    align-items: center
}

.containerPages{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.section .pokeHome {
        width: 100%;
        padding: 37px;
        display: flex;
        flex-direction: row;
        margin-top: 330px;
        height: 100%;
        justify-content: center;
}

